.hero-section__social > div {
  margin-right: 15px;
}
.hero-section__social > div > i::before {
  background: #008000;
  color: #fff;
  width: 30px;
  height: 30px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15px;
}

.hero-section__social {
  display: flex;
  margin-bottom: 25px;
}
